{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Classificar</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
				<a href="/stack/{{ area.pk }}/{{repo.sat}}{{repo.level}}{{repo.data}}" class="btn btn-primary">
					Voltar
				</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-5">
			<h3 class="card-title mb-0 p-10"> Compatibilidade do modelo </h3>
			<div class="card">
				<div class="card-body">
					Lista de Variáveis do Modelo Treinado:
					<table class="table user-table table-hover">
						<tbody>
							{% for var in vars_modelo %}
								<tr>
									<td>
										{{var.desc}}
									</td>
									<td>
										{{var.tipo}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="card-title mb-0 p-10"> Classificação </h3>
			<div class="card">
				<div class="card-body">
					{% if valido %}
					<a href="/classificar/{{ modelo_treinado.pk }}/{{ area.pk }}/{{repo.sat}}{{repo.level}}{{repo.data}}" class="btn btn-primary">
						Classificar
					</a>
					<table class="table user-table table-hover">
							<tbody>
								{% for mod in classificacoes %}
									<tr data-toggle="modal" data-target=".bd-example-modal-lg" class="clickable-row" data-href="{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}/Classi_{{modelo_treinado.id}}*{{mod.desc|slice:':-4'}}/Projeto">
										<td>
											{{mod.desc|slice:':-4'}}
										</td>
									</tr>
								{% endfor %}
							</tbody>
					</table>
					{% else %}
					O Stack não contém todas a variáveis que o modelo exige!
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-sm-3">
        	<h3 class="card-title mb-0 p-10">Área e Modelo</h3>
        	<div class="col-sm-12">
	            <div class="card">
	                <div class="card-body">
							Área: {{ area.descricao }} <br>
							Projeto: {{ projeto.descricao }} <br>
							Data: {{ area.data_criacao|date:'d/m/Y H:i' }} <br>
							Stack: {{ repo.data }}<br>
							Nível: {{ repo.level }}<br>
							Satélite: {{ repo.sat }}<br>

					</div> 
	            </div>
	        </div>
        	<div class="col-sm-12">
	            <div class="card">
	                <div class="card-body">
						Modelo: {{ modelo_treinado.tipo }} <br>
						Nome: {{ modelo_treinado.modelo }} <br>
						Modelo: {{ modelo_treinado.tipo.descricao }} <br>
						Validação Cruzada:<br>
						Loop: {{ modelo_treinado.loop_cross }} <br>
						Menor: {{ modelo_treinado.acuraciaTreinoMenor }}<br>
						Média: {{ modelo_treinado.acuraciaTreinoMedia }}<br>
						Maior: {{ modelo_treinado.acuraciaTreinoMaior }}<br>
						Teste: {{ modelo_treinado.acuraciaTeste }}<br>
					</div>
	            </div>
	        </div>
		</div>
	</div>



{% endblock %}



