{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Classificar</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
				<a href="/stack/{{ area.pk }}/{{repo.sat}}{{repo.level}}{{repo.data}}" class="btn btn-primary">
					Voltar
				</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-7">
					<h3 class="card-title mb-0 p-10"> Compatibilidade do modelo </h3>
					<div class="card">
						<div class="card-body">
							Lista de Variáveis do Modelo Treinado:
							<table class="table user-table table-hover">
								<tbody>
									{% for var in vars_modelo %}
										<tr>
											<td>
												{{var.desc}}
											</td>
											<td>
												{{var.tipo}}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<h3 class="card-title mb-0 p-10"> Classificação </h3>
					<div class="card">
						<div class="card-body">
							{% if valido %}
							<a href="/classificar/{{ modelo_treinado.pk }}/{{ area.pk }}/{{repo.sat}}{{repo.level}}{{repo.data}}" class="btn btn-primary">
								Classificar
							</a>
							<table class="table user-table table-hover">
									<tbody>
										{% for mod in classificacoes %}
											<tr data-toggle="modal" data-target=".bd-example-modal-lg" onclick="limpar()" class="clickable-row" data-href="{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}/Classi_{{modelo_treinado.id}}*{{mod.desc|slice:':-4'}}/Projeto">
												<td>
													Raster: {{mod.desc|slice:':-4'}}
													<a href="" style="float:right" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="limpar()" class="btn btn-primary clickable-row" data-href=="{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}/Classi_{{modelo_treinado.id}}*{{mod.desc|slice:':-4'}}/Projeto" >
														Visualizar
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
							</table>
							<table class="table user-table table-hover">
								<thead>
									<tr>
										<th class="border-top-0">
											Classe
										</th>
										<th class="border-top-0">
											Cor
										</th>
									</tr>
								</thead>
								<tbody>
									{% for c in cores %}
										<tr>
											<td>
												{{c|slice:'7:'}}
											</td>
											<td style="background-color: {{c|slice:':7'}}">
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							O Stack não contém todas a variáveis que o modelo exige!
						{% endif %}
					</div>
				</div>
			</div>
			</div>
			<div class="col-sm-12">
			<h3 class="card-title mb-0 p-10"> Resultado da Classificação </h3>
			<div class="card">
				<div class="card-body">
					<table class="table user-table table-hover">
						<thead>
							<tr>
								<th class="border-top-0">
									Classe
								</th>
								<th class="border-top-0">
									Quantidade de Pixels
								</th>
								<th class="border-top-0">
									Área aproximada
								</th>
								<th class="border-top-0">
									Percentual de Classificação
								</th>
							</tr>
						</thead>
						<tbody>
							{% for dc in dcs %}
								<tr>
									<td>
										{{dc.classe}}
									</td>
									<td>
										{{dc.quantidade}}
									</td>
									<td>
										{% widthratio dc.quantidade|floatformat:"0" 1 10 %} m²
									</td>
									<td>
										{% widthratio dc.quantidade|floatformat:"0" pxtotal 100 %} %
									</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
					Total de Pixels: {{ pxtotal }}
				</div>
			</div>

		</div>

		</div>
		<div class="col-sm-3">
        	<h3 class="card-title mb-0 p-10">Área e Modelo</h3>
        	<div class="col-sm-12">
	            <div class="card">
	                <div class="card-body">
							Área: {{ area.descricao }} <br>
							Projeto: {{ projeto.descricao }} <br>
							Data: {{ area.data_criacao|date:'d/m/Y H:i' }} <br>
							Stack: {{ repo.data }}<br>
							Nível: {{ repo.level }}<br>
							Satélite: {{ repo.sat }}<br>

					</div> 
	            </div>
	        </div>
        	<div class="col-sm-12">
	            <div class="card">
	                <div class="card-body">
						Modelo: {{ modelo_treinado.tipo }} <br>
						Nome: {{ modelo_treinado.modelo }} <br>
						Modelo: {{ modelo_treinado.tipo.descricao }} <br>
						Validação Cruzada:<br>
						Loop: {{ modelo_treinado.loop_cross }} <br>
						Menor: {{ modelo_treinado.acuraciaTreinoMenor }}<br>
						Média: {{ modelo_treinado.acuraciaTreinoMedia }}<br>
						Maior: {{ modelo_treinado.acuraciaTreinoMaior }}<br>
						Teste: {{ modelo_treinado.acuraciaTeste }}<br>
						{% if not modelo_treinado.modelo.upload %}
							<a href="" data-toggle="modal" data-target=".bd-example-modal-lg2" class="clickable-row-sum btn btn-primary m-0" title="Visualizar importância Variáveis" data-href="{{model.id}}" >
											<i class="mdi mdi-eye"></i>
							</a>
						{% endif %}
						{% if modelo_treinado.acuraciaTeste %}
							<a href="" data-toggle="modal" data-target=".bd-example-modal-lg4" class="clickable-row-cm btn btn-primary m-0" title="Matriz de Confusão" data-href="{{modelo_treinado.modelo.pasta}}/{{modelo_treinado.id}}" >
								<i class="mdi mdi-matrix"></i>
							</a>
						{% endif %}

					</div>
	            </div>
	        </div>
		</div>
	</div>


	<div id="imageModal" data-backdrop="static" class="modal fade bd-example-modal-lg4" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
									<div id="ibagem">
										<img id="image_id">
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-body" >
                    <div class="row" >
						<div class="col-sm-9 col-9" >
							<h3 class="page-title mb-0 p-0" id="arq"></h3>
								<p id="desc_arq"></p>
						</div>
						<div class="col-sm-3 col-3">
                          <button  onclick="fecharmodel()"  type="button" id="fechar" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}



