
{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Download</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <p class="col-sm-12">
                    Disponíveia par Download (Busca):
                    </p>
                    <table class="table user-table table-hover">
                        <tbody id="body_edital">
                            {% for prd in prds %}
                                <tr >
                                    <td>{{prd}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="col-sm-12">
                    Arquivos Baixados (Biblioteca): 
                    </p>
                    <table class="table user-table table-hover">
                        <thead>
                          <tr>
                           <th class="border-top-0">Arquivo / Pasta</th>
                           <th class="border-top-0">Opções</th>
                          </tr>
                        </thead>
                        <tbody id="body_edital">
                            {% for repo in repos %}
                                <tr >
                                    <td>{{repo}}</td>
                                    <td> 

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-sm">
                                De: <input type="date" name="data_ini" value="{{data_ini}}" class="form-control">
                            </div>
                            <div class="col-sm">
                                Para: <input type="date"  name="data_fim" value="{{data_fim}}" class="form-control">
                            </div>
                            <div class="col-sm">
                                Satélite:
                                <select name="satelite" class="form-control">
                                    <option value="S2MSI1C" >Sentinel 1C</option>
                                    <option value="S2MSI2A" selected>Sentinel 2A</option>
                                </select>
                            </div>
                            <div class="col-sm">
                                Máscara (Shape) Área de Interesse:
                                <div class="col-sm">
                                    <input type="file" name="mask" value="{{mask}}" accept=".geojson">
			                    </div>
                                <div class="error-msg">
                                    {{ error }}
                                </div>
                            </div>
                            <br>
                            <button type="submit" formaction="/preparar_download" class="btn btn-secondary">
                                Verificar
                            </button>
                            <button type="submit" formaction="/download" class="btn btn-secondary">
                                Download
                            </button>

                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}