
{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <img
                  src="{% static 'assets/images/Classfito2.png' %}"
                  class="dark-logo"
                  style="text-align: left;"
            />
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
                Mapa do Cerrado: <br>
						<a href="{% url 'mapa_cerrado' %}" class="btn btn-primary">
	        				Visualizar
	        			</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    O ClassFITO é uma ferramenta de classificação de fitofisionomias por imagens...
                </div>
            </div>
        </div>
    </div>
{% endblock %}