
{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <img
                  src="{% static 'assets/images/Classfito2.png' %}"
                  class="dark-logo"
                  style="text-align: left;"
            />
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
                Política de Privacidade (Privacy Policy):<br>
                        <a href="{% url 'politica_privacidade' %}" class="btn btn-primary">
	        				Policy
	        			</a><br>
                Mapa do Cerrado: <br>
						<a href="{% url 'mapa_cerrado' %}" class="btn btn-primary">
	        				Visualizar
	        			</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    O CLASSFITO – Classificador de Fitofisionomias por Imagem é uma plataforma destinada a pesquisadores e estudantes que queiram fazer classificação por imagens de fitofisionomias do Cerrado brasileiro, com base em modelos de aprendizado de máquina. Como funções de apoio a plataforma disponibiliza a possibilidade de treinar modelos em Random Forest, fazer download de imagens de satélite do programa Sentinel-2A (ESA) e construir índices espectrais.
                </div>
                <div class="card-body">
                    Produto técnico/tecnológico do tipo software/aplicativo em forma de um sistema integrado, fruto do Programa de Pós-Graduação em Conservação de Recursos Naturais do Cerrado, do Instituto Federal Goiano – Campus Urutaí, mantido em parceria através do termo XXX com o Instituto Federal do Piauí - IFPI Campus Corrente.
                </div>
                <div class="card-body" >
                    <b>Manuais de uso:</b>
                    <div class="row">
                        <div class="col-md-3 col-12" style="padding:5px;">
                            Parte 1 - Visão Geral
                            <iframe src="https://www.youtube.com/embed/MGyC6_e4wq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-3 col-12" style="padding:5px;">
                            Parte 2 - Funções Acessórias
                            <iframe src="https://www.youtube.com/embed/sbxuf75XGGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-3 col-12" style="padding:5px;">
                            Parte 3 - Treinando Modelo
                            <iframe src="https://www.youtube.com/embed/L3Ot1VvQKvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-3 col-12" style="padding:5px;">
                            Parte 4 - Classificação
                            <iframe src="https://www.youtube.com/embed/j4SWmdr34ns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}