
{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Modelo</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-8">
        	<h3 class="card-title mb-0 p-10"> Descrição modelo </h3>
            <div class="card">
                <div class="card-body">
					<p class="col-sm-12">
					Modelo: {{ modelo.descricao }} <br>
					Data Criação: {{ modelo.data_criacao }} <br>
					Responsável: {{ modelo.responsavel.first_name }} {{ modelo.responsavel.last_name }}
					</p>
					<a href="/modelo/{{ modelo.pk }}/edit/" class="btn btn-primary">
                        Editar
                    </a>
				</div> 
            </div>
    		<h3 class="card-title mb-0 p-10"> Áreas Classificadas (Passo 2) </h3>
        	<div class="card">
            	<div class="card-body">
            		<a href="/area_modelo/new/{{modelo.pk}}/" class="btn btn-primary">
		        		Nova Área
		        	</a>
            		<table class="table user-table table-hover">
							<thead>
								<tr>
									<th class="border-top-0">
										Descrição
									</th>
									<th class="border-top-0">
										Classe
									</th>
									<th class="border-top-0">
										Cor
									</th>
								</tr>
							</thead>
								<tbody id="body_edital">
								{% for area in areas %}
									<tr onclick="window.location='../../area_modelo/{{area.pk}}/';"">
										<td>
											{{area.descricao}} 
										</td>
										<td>
											{{area.classe.classe}} 
										</td>
										<td style="background-color: {{area.classe.cor}}">
											{{area.classe.cor}} 
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
				</div>
			</div> 
        </div>
        <div class="col-sm-4">
        	<h3 class="card-title mb-0 p-10"> Classificação do Modelo (Passo 1)</h3>
        	<div class="col-sm-12">
            	<div class="card">
                	<div class="card-body">
                		<a href="/classe_modelo/new/{{modelo.pk}}/" class="btn btn-primary">
		        		Nova Classe
		        		</a>
                		<table class="table user-table table-hover">
							<tbody id="body_edital">
								{% for classe in classes %}
									<tr onclick="window.location='../../classe_modelo/{{classe.pk}}/';">
										<td>
											{{classe.classe}} 
										</td>
										<td style="background-color: {{classe.cor}}">
											{{classe.cor}} 
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div> 
            </div>
        </div>
    </div>
	<form method="POST" enctype="multipart/form-data">
			                            {% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
        	<h3 class="card-title mb-0 p-10"> Gerar Stack (Escolher Variáveis do Modelo ) </h3>
        </div>

    	<div class="col-sm-5">
        	<div class="card">
            	<div class="card-body">
            		Selecionar data:
            		<table class="table user-table table-hover">
						<tbody id="body_edital">
							{% for repo in repos %}
								<tr>
									<td>
										{{repo}} 
									</td>
									<td>
										<input type="checkbox" name="repo_{{repo.sat}}{{repo.level}}{{repo.data}}"
											   {% if repo.marked %}
											   checked="checked"
											   {% endif %}
										>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
        	<div class="card">
            	<div class="card-body" style="overflow-y: scroll; height: 410px;">
            		Escolher Variáveis:
            		<table class="table user-table table-hover">
						<tbody id="body_edital">
							{% for var in vars %}
								<tr>
									<td>
										{{var.tag}}
									</td>
									<td>
										<input type="checkbox" name="var_{{var.id}}"
											   {% if var.marked %}
											   checked="checked"
											   {% endif %}
										>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div> 
        </div>
        <div class="col-sm-2">
        	<div class="card">
            	<div class="card-body">
            		Ações:
					<button type="submit" formaction="/modelo/gerar_stacks/{{ modelo.pk }}/" class="btn btn-primary m-10">
			             Gerar Stack
			        </button>
            		<a href="/modelo/ver_stacks/{{modelo.pk}}/" class="btn btn-secondary m-10">
		        		Visualizar Stacks
		        	</a>
				</div>
			</div> 
        </div>
    </div>
	</form>
	<form method="POST" enctype="multipart/form-data">
			                            {% csrf_token %}
    	<div class="row">
			<div class="col-sm-12">
				<h3 class="card-title mb-0 p-10"> Treinamento e Testes </h3>
			</div>
			<div class="col-sm-5">
				<div class="card">
					<div class="card-body">
						Selecionar Modelo(s):
						<table class="table user-table table-hover">
							<tbody id="body_edital">
									<tr>
										<td>
											Random Forest Classificator
											<div class="row">
												<div class="col-sm-4 col-4">

												</div>
												<div class="col-sm-8 col-8">
													Galhos:
													<input type="range" name="max_depth" style="width: 100%;" value="2" min="2" max="5" oninput="this.nextElementSibling.value = this.value">
													<output>2</output>
												</div>
											</div>
										</td>
										<td>
											<input type="checkbox" name="model_1">
										</td>
									</tr>
									<tr>
										<td>
											Support Vector Machine
										</td>
										<td>
											<input type="checkbox" name="model_2">
										</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						Confirgurações de Dados:
						<br><br>
						<p>
							Percentual de Treinamento:
						</p>
						{% if modelo.percent %}
						<div class="form-group">
							<input type="range" name="percent" style="width: 100%;" value="{{modelo.percent}}" min="30" max="95" oninput="this.nextElementSibling.value = this.value">
							<output>{{modelo.percent}}</output>%
						</div>
						{% else %}
						<div class="form-group">
							<input type="range" name="percent" style="width: 100%;" value="70" min="30" max="95" oninput="this.nextElementSibling.value = this.value">
							<output>70</output>%
						</div>
						{% endif %}
						<br>
						<p>
							Validação Cruzada (Quantidade de loops):
						</p>
						<div class="form-group">
							<input type="range" name="loop_cross" style="width: 50%;" value="3" min="2" max="6" oninput="this.nextElementSibling.value = this.value">
							<output style="width: 100%;">3</output>
						</div>
						<div class="form-group">
							<p class="alert-success">
								{{status}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card">
					<div class="card-body">
						Ações:
						<br>
						<button type="submit" formaction="/modelo/prepararDF/{{ modelo.pk }}" class="btn btn-primary m-10">
			             	Preparar Dados
			        	</button>
						<br>
						<button type="submit" formaction="/modelo/treinar/{{ modelo.pk }}" class="btn btn-primary m-10">
			             	Treinar
			        	</button>
						<br>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
        <div class="col-sm-12">
        	<div class="card">
            	<div class="card-body">
            		Resultados:
            		<table class="table user-table table-hover">
						<tbody id="body_edital">
								<tr>
									<th>
										Modelo Treinado
									</th>
									<th>
										Data de Treinamento
									</th>
									<th>
										Validação <br>
										Cruzada
									</th>
									<th>
										Acurácia de Treinamento<br>
										(Média | Maior | Menor)
									</th>
									<th>
										Data de Teste
									</th>
									<th>
										Acurácia de Teste
									</th>
									<th>

									</th>
								</tr>
							{% for model in models %}
								<tr >
									<td data-toggle="modal" data-target=".bd-example-modal-lg2" class="clickable-row-sum" data-href="{{model.id}}">
										{{model.tipo.descricao}}
										{% if model.max_depth %}
											<br> Galhos: {{model.max_depth}}
										{% endif %}
									</td>
									<td>
										{{model.data_treinamento|date:'d/m/Y h:i'}}
									</td>
									<td>
										{{model.loop_cross}}
									</td>
									<td>
										{{model.acuraciaTreinoMedia}} |
										{{model.acuraciaTreinoMaior}} |
										{{model.acuraciaTreinoMenor}}
									</td>
									<td>
										{{model.data_teste|date:'d/m/Y h:i'}}
									</td>
									<td>
										{{model.acuraciaTeste}}
									</td>
									<td>
										<a href="/modelo/testar/{{ model.id }}" class="btn btn-primary m-0">
			             					Testar
			        					</a>
										<a href="" data-toggle="modal" data-target=".bd-example-modal-lg2" class="clickable-row-sum btn btn-primary m-0" data-href="{{model.id}}" >
			             					Ver
			        					</a>
										<a href="/modelo/excluir_arquivo/{{ model.id }}" class="btn btn-primary m-0">
			             					Excluir
			        					</a>
										<a href="{% url 'index' %}media/modelos/{{modelo.pasta}}/modelos/{{model.tipo.filename}}{{model.id}}.sav" class="btn btn-primary">
	        								Download
	        							</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



			<div id="summaryModal" data-backdrop="static" class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
									Acurácia: <br>
									Dados: <br>
										Classes: <br>
											Quantidade de Linhas Treinamento: <br>
											Quantidade de Linhas Teste <br>
											- Grafico Pizza com percentual de linha por classe <br>
										Variáveis: <br>
											Lista Variáveis <br>
											Gráfico Barra Vertical de Importância por Variável <br>
											??????????????????Antes ou depois dos testes???????????<br>
									Download: <br>

                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-body" >
                    <div class="row" >
						<div class="col-sm-9 col-9" >
							<h3 class="page-title mb-0 p-0" id="arq"></h3>
							<p id="desc_arq"></p>
						</div>
						<div class="col-sm-3 col-3">
                          <button  onclick="fecharmodel()"  type="button" id="fechar" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


{% endblock %}



