
{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Modelo</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
        	<h3 class="card-title mb-0 p-10"> Descrição do Modelo </h3>
            <div class="card">
                <div class="card-body">
					<div class="row">
						<p class="col-sm-10">
						Modelo: {{ modelo.descricao }} <br>
						Data de Criação: {{ modelo.data_criacao }} <br>
						Responsável: {{ modelo.responsavel.first_name }} {{ modelo.responsavel.last_name }}
						</p>
						<div class="col-sm-2" align="right">
							<a href="/modelo/{{ modelo.pk }}/edit/" class="btn btn-primary">
								Editar
							</a>
						</div>
					</div>
				</div> 
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
        	<h3 class="card-title mb-0 p-10"> Classificação do Modelo (Passo 1)</h3>
			<div class="card">
				<div class="card-body">
					{% if not modelo.upload %}
					<a href="/classe_modelo/new/{{modelo.pk}}/" class="btn btn-primary">
					Nova Classe
					</a>
					{% endif %}
					<table class="table user-table table-hover">
						<thead>
							<tr>
								<th class="border-top-0">
									Classe
								</th>
								<th class="border-top-0">
									Cor
								</th>
							</tr>
						</thead>
						<tbody id="body_edital">
							{% for classe in classes %}
								<tr onclick="window.location='../../classe_modelo/{{classe.pk}}/';">
									<td>
										{{classe.classe}}
									</td>
									<td style="background-color: {{classe.cor}}">

									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
        </div>
		<div class="col-sm-8">
			{% if modelo.upload %}
			<h3 class="card-title mb-0 p-10"> Variáveis Preditoras </h3>
        	<div class="card">
            	<div class="card-body">
					<table class="table user-table table-hover">
						<thead>
							<tr>
								<th class="border-top-0">
									Variável Preditora
								</th>
							</tr>
						</thead>
						<tbody >
							{% for vvv in listVars %}
								<tr onclick="window.location='../../modelo/var/{{vvv.pk}}/edit/';">
									<td>
										{{vvv.variavel}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}
			{% if not modelo.upload %}
    		<h3 class="card-title mb-0 p-10"> Áreas Classificadas (Passo 2) </h3>
        	<div class="card">
            	<div class="card-body">
					<div class="row">
						<div class="col-sm-4">
							<a href="/area_modelo/new/{{modelo.pk}}/" class="btn btn-primary">
								Nova Área
							</a>

						</div>
						<div class="col-sm-8" align="right"
							{% if area_total > limite_area %}
								style="color: red;"
							{% endif %}
						>
							Área total: {{area_total}} m²
							<a href="" data-toggle="modal" data-target=".bd-example-modal-lg" class="clickable-row-mara-geral btn btn-primary m-0" title="Mapa Geral" onclick="limpar()" data-href="{{modelo.id}}">
								<i class="mdi mdi-map"></i>
							</a>
						</div>
					</div>



            		<table class="table user-table table-hover">
						<thead>
							<tr>
								<th class="border-top-0">
									Descrição
								</th>
								<th class="border-top-0">
									Classe
								</th>
								<th class="border-top-0">
									Cor
								</th>
								<th class="border-top-0">
									Área M²
								</th>

							</tr>
						</thead>
							<tbody>
							{% for area in areas %}
								<tr onclick="window.location='../../area_modelo/{{area.pk}}/';">
									<td>
										{{area.descricao}}
									</td>
									<td>
										{{area.classe.classe}}
									</td>
									<td style="background-color: {{area.classe.cor}}">

									</td>
									<td>
										{{area.tamanho}}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endif %}
        </div>
    </div>
	{% if not modelo.upload %}
		{% if limite_area > area_total   %}


	<a name="p3"></a>
	<form method="POST" enctype="multipart/form-data">
			                            {% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
        	<h3 class="card-title mb-0 p-10"> Imagens e Variáveis para o Modelo (Passo 3)
			<button type="submit" onclick="alert('Na escolha do sensor Sentinel,  é recomendado o uso do Level 2A pois “o processamento de Nível 2A inclui uma classificação de cena e uma correção atmosférica aplicada a produtos de ortoimagem de topo da atmosfera (TOA Top-Of-Atmosphere) Nível 1C” (ESA, 2022)'); return false;" class="btn">
			     <i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
			</button>
				</h3>
			<div style="color:red;">{{error}}</div>
			<div class="card">
				<div class="card-body">
					Tipo de Sensor?
					<select name="select" class="form-control" >
						{% for s in sensores %}
							<option value="{{s.pk}}"
									{% if s == sensor %}
									selected
									{% endif %}
									onclick="window.location='../../modelo/save_sensor/{{modelo.pk}}/{{s.pk}}#p3';"
							>{{s.descricao}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
        </div>

    	<div class="col-sm-5">
        	<div class="card">
				{% if sensor.pk > 2 %}
				<div class="card-body" >
					<div class="row">
						<div class="col-sm-7">
							{{sensor.descricao}}:
							<br>Incluir imagens por Área:
						</div>
						<div class="col-sm-5" align="right">
							<a href="/sensor/{{sensor.id}}/edit" class="btn btn-secondary m-0">
								Edit Sensor
							</a>
							<button type="submit" onclick="alert('As imagens inseridas abaixoi devem ter a mesa quantidade de bandas, mesma resolução para cada área cadastrada'); return false;" class="btn">
								<i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
							</button>
						</div>
					</div>
					<table class="table user-table table-hover">
							<tbody>
							{% for area in areas %}
								<tr>
									<td colspan="2" style="background-color: {{area.classe.cor}}"></td>
								</tr>
								<tr>
									<td>
										{{area.descricao}}
									</td>
									<td>
										{{area.classe.classe}}
									</td>
								</tr>
							{% load startswith %}
								<tr>
									<td colspan="2" >
										<div class="row">
											<div class="col-sm-2 col-2">
													{% for repo in repo_local %}
														{% if repo|startswith:area.pk %}
															<img src="{% static 'assets/images/icoimage2.png' %}" title="{{repo}}">
														{% endif %}
													{% endfor %}
											</div>
											<div class="col-sm-10 col-10">
												<form method="POST" enctype="multipart/form-data">
													{% csrf_token %}
													<div class="col-sm">
														<input type="file" name="imagem" accept=".jp2, .tif, .tiff, .jpg">
													</div>
													<div class="error-msg">
														{{ error_banda }}
													</div>
													<button type="submit" formaction="/modelo/uploadImageRepositorio/{{ area.pk }}/#p3" class="btn btn-secondary">
														Add imagem
													</button>
												</form>
											</div>
										</div>

									</td>

								</tr>
							{% endfor %}
							</tbody>
					</table>

					<table class="table user-table table-hover">
						<thead>
                          <tr>
							  <th class="border-top-0"> Stack</th>
                          </tr>
                        </thead>
						<tbody>
								<tr>
									<td>
										Repositório Próprio <input type="radio" name="repo" value="interno" checked="checked">
									</td>
								</tr>
						</tbody>
					</table>
				</div>
				{% else %}
            	<div class="card-body" >
					<div class="row">
						<div class="col-sm-7">
							Sentinel: Selecionar data:
						</div>
						<div class="col-sm-5" align="right">
							<form method="POST">
								{% csrf_token %}
									<input type="hidden" name="mask_hidden" value="{{mask}}">
								<button type="submit" formaction="/download_page" class="btn btn-secondary">
									Download
								</button>
								<button type="submit" onclick="alert('As áreas demarcadas no passo anterior devem estar contidas num único TILE a ser escolhido agora'); return false;" class="btn">
									<i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
								</button>
							</form>
						</div>
					</div>
					<div class="row" style="overflow-y: scroll; height: 410px;">
						<table class="table user-table table-hover" >
							<thead>
							  <tr>
							   <th class="border-top-0">Level</th>
							   <th class="border-top-0">Data</th>
								  <th class="border-top-0">Tile</th>
								  <th class="border-top-0"></th>
							  </tr>
							</thead>
							<tbody>
								{% for repo in repos %}
									<tr>
										<td>
											{{repo.level}}
										</td>
										<td>
											{{repo.data_format}}
										</td>
										<td>
											{{repo.tile}}
										</td>
										<td>
											<input type="radio" name="repo" value="{{repo.sat}}{{repo.level}}{{repo.data}}"
												   {% if repo.marked %}
												   checked="checked"
												   {% endif %}
											>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-sm-5">
        	<div class="card">
            	<div class="card-body">
					<div class="row">
					<div class="col-sm-7">
							Escolher Variáveis:
					</div>
					<div class="col-sm-5" align="right">
						<a href="/indice/new" class="btn btn-secondary m-0">
							Criar Índice
						</a>
						<button type="submit" onclick="alert('É possível criar índice com as bandas da imagem'); return false;" class="btn">
							<i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
						</button>
					</div>
					</div>
					<div class="row" style="overflow-y: scroll; height: 410px;">
						<table class="table user-table table-hover">
							<tbody>
								{% for var in vars %}
									<tr>
										<td>
											{{var.tag}}
										</td>
										<td>
											<input type="checkbox" name="var_{{var.id}}"
												   {% if var.marked %}
												   checked="checked"
												   {% endif %}
											>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div> 
        </div>
        <div class="col-sm-2">
        	<div class="card">
            	<div class="card-body">
            		Ações:
					<button type="submit" onclick="alert('O procedimento gerar stack irá aplicar a máscara de cada área em cada banda do repositório escolhito e gerar somente os índices escolhidos. O resultado pode ser visualizado no botão Visualizar Stacks'); return false;" class="btn">
						<i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
					</button>
					<button type="submit" formaction="/modelo/gerar_stacks/{{ modelo.pk }}/#p3" class="btn btn-primary m-10">
			             Gerar Stack
			        </button>
            		<a href="/modelo/ver_stacks/{{modelo.pk}}/" class="btn btn-secondary m-10">
		        		Visualizar Stacks
		        	</a>
				</div>
			</div> 
        </div>
    </div>
	</form>
	<a name="p4"></a>
	<form method="POST" enctype="multipart/form-data">
			                            {% csrf_token %}
    	<div class="row">
			<div class="col-sm-12">
				<h3 class="card-title mb-0 p-10"> Preparar Dados (Passo 4) </h3>
			</div>
			<div class="col-sm-10">
				<div class="card">
					<div class="card-body">
						Confirgurações de Dados:
						<br><br>
						<p>
							Percentual de Treinamento:
						</p>
						{% if modelo.percent %}
						<div class="form-group">
							<input type="range" name="percent" style="width: 100%;" value="{{modelo.percent}}" min="30" max="95" oninput="this.nextElementSibling.value = this.value">
							<output>{{modelo.percent}}</output>%
						</div>
						{% else %}
						<div class="form-group">
							<input type="range" name="percent" style="width: 100%;" value="70" min="30" max="95" oninput="this.nextElementSibling.value = this.value">
							<output>70</output>%
						</div>
						{% endif %}
						<br>
						<div class="form-group">
							<p class="alert-success">
								{{status}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="card">
					<div class="card-body">
						Ações:
						<button type="submit" onclick="alert('O procedimento Preparar Dados irá converter todos os dados dos rasters gerados no passo anterior em um DataFrame de Treinamento e um DataFrame de Testes. A divisão dos dados é feita de forma aleatória.'); return false;" class="btn">
							<i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
						</button>
						<br>
						<button type="submit" formaction="/modelo/prepararDF/{{ modelo.pk }}#p4" class="btn btn-primary m-10">
			             	Preparar Dados
			        	</button>
						{% if status != 'Dados não Preparados'%}
						<br>
						<a href="" data-toggle="modal" data-target=".bd-example-modal-lg3" class="clickable-row-dados btn btn-secondary m-10" data-href="{{modelo.id}}" >
							Dados
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<a name="p5"></a>
		<div class="row">
			<div class="col-sm-12">
				<h3 class="card-title mb-0 p-10"> Treinamento (Passo 5)  </h3>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						Selecionar Modelo(s):
						<br><br>
						<div class="row">
							<div class="col-sm-10">
								Random Forest Classificator
								<div class="row">
									<div class="col-sm-4 col-4">
										<button type="submit" onclick="alert('Por padrão, a plataforma utiliza como critério de medida de qualidade da divisão da árvore, o índice de Gini.'); return false;" class="btn">
											<i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
										</button>
									</div>
									<div class="col-sm-8 col-8">
										Galhos: (max_depth)
										<input type="range" name="max_depth" style="width: 100%;" value="0" min="0" max="5" oninput="this.nextElementSibling.value = this.value">
										<output>0</output>
										<br>
										Árvores: (n_estimators)
										<input type="range" name="n_estimators" style="width: 100%;" value="100" min="0" max="200" oninput="this.nextElementSibling.value = this.value">
										<output>100</output>
									</div>
								</div>
							</div>
							<div class="col-sm-2" align="right">
								<input type="checkbox" name="model_1">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-10">
								Support Vector Machine
								<div class="row">
									<div class="col-sm-4 col-4">
										<button type="submit" onclick="alert('Por padrão, a plataforma utiliza como critério gamma, o valor scale.'); return false;" class="btn">
											<i class="mdi mdi-information" style="font-size: 18pt; color: orange;"></i>
										</button>
									</div>
									<div class="col-sm-8 col-8">
										Kernel:
										<select type="select" name="kernel" class="form-control">
											<option value="linear" selected>linear</option>
											<option value="rbf">rbf</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-2" align="right">
								<input type="checkbox" name="model_2">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						Confirgurações de Treinamento:
						<br><br>
						<p>
							Validação Cruzada (Quantidade de loops):
						</p>
						<div class="form-group">
							<input type="range" name="loop_cross" style="width: 100%;" value="3" min="2" max="6" oninput="this.nextElementSibling.value = this.value">
							<output style="width: 100%;">3</output>
						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="card">
					<div class="card-body">
						Ações:
						<br>
						<button type="submit" formaction="/modelo/treinar/{{ modelo.pk }}#p5" class="btn btn-primary m-10">
			             	Treinar
			        	</button>
						<br>
					</div>
				</div>
			</div>
		</div>
	</form>
	<a name="results"></a>
	<div class="row">
		<div class="col-sm-12">
			<h3 class="card-title mb-0 p-10"> Resultados e Testes </h3>
		</div>
        <div class="col-sm-12">
        	<div class="card">
            	<div class="card-body">
					Modelos Treinados:
					<table class="table user-table table-hover">
						<tbody>
								<tr>
									<th rowspan="3">
										Modelo
									</th>
									<th rowspan="3">
										Treinamento
									</th>
									<th colspan="4">
										Validação Cruzada
									</th>
									<th colspan="2">
										Teste
									</th>
									<td	 rowspan="3">
										Opções
									</td>
								</tr>
								<tr>
									<th rowspan="2">
										Loops
									</th>
									<th colspan="3">
										Acurácia
									</th>
									<th rowspan="2">
										Data
									</th>
									<th rowspan="2">
										Kappa
									</th>
								</tr>
								<tr>
									<th>
										Média
									</th>
									<th>
										Maior
									</th>
									<th>
										Menor
									</th>
								</tr>
							{% for model in models %}
								<tr style="line-height: 1.2;">
									<td data-toggle="modal" data-target=".bd-example-modal-lg2" class="clickable-row-sum" data-href="{{model.id}}">
										{{model.tipo.descricao}}
										{% if model.max_depth %}
											<br> Galhos: {{model.max_depth}}
										{% endif %}
										{% if model.n_estimators %}
											<br> Árvores: {{model.n_estimators}}
										{% endif %}
										{% if model.kernel %}
											<br> Kernel: {{model.kernel}}
										{% endif %}
									</td>
									<td>
										{{model.data_inicio_treinamento|date:'d/m/Y H:i:s'}}<br>
										Treino: {{model.tempotreino}} seg<br>
										Validação: {{model.tempovalidacao}} seg
									</td>
									<td>
										{{model.loop_cross}}
									</td>
									<td>
										{{model.acuraciaTreinoMedia}}
									</td>
									<td>
										{{model.acuraciaTreinoMaior}}
									</td>
									<td>
										{{model.acuraciaTreinoMenor}}
									</td>
									<td>
										{{model.data_teste|date:'d/m/Y H:i'}}
									</td>
									<td>
										{{model.acuraciaTeste}}
									</td>
									<td>
										<a href="/modelo/testar/{{ model.id }}#results" title="Testar" class="btn btn-primary m-0">
											<i class="mdi mdi-check"></i>
										</a>

										<a href="{% url 'index' %}media/modelos/{{modelo.pasta}}/modelos/{{model.tipo.filename}}{{model.id}}.sav" title="Download" class="btn btn-primary">
											<i class="mdi mdi-download"></i>
										</a>
										<a href="/modelo/excluir_arquivo/{{ model.id }}#results" class="btn btn-primary m-0" title="Excluir">
											<i class="mdi mdi-delete"></i>
										</a>
										<br><br>
										<a href="" data-toggle="modal" data-target=".bd-example-modal-lg2" class="clickable-row-sum btn btn-primary m-0" title="Visualizar Variáveis" data-href="{{model.id}}" >
											<i class="mdi mdi-eye"></i>
										</a>
										{% if model.acuraciaTeste %}
										<a href="" data-toggle="modal" data-target=".bd-example-modal-lg4" class="clickable-row-cm btn btn-primary m-0" title="Matriz de Confusão" data-href="{{modelo.pasta}}/{{model.id}}" >
											<i class="mdi mdi-matrix"></i>
										</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
			{% else %} <!--comparação de tamanho de área -->
		<div style="color:red;">
			Atualmente o CLASSFITO se limita a área de {{limite_area}} metros quadrados
		</div>
			{% endif %} <!-- fim de comparação tamanho de área -->
		{% else %} <!--comparação de modelo não upload -->
		<div class="row">
		<div class="col-sm-12">
			<h3 class="card-title mb-0 p-10"> Modelo </h3>
		</div>
        <div class="col-sm-12">
        	<div class="card">
            	<div class="card-body">
						<table class="table user-table table-hover">
							<thead>
								<tr>
									<th>
										Modelo
									</th>
									<th>
										Data Criação
									</th>
									<th>

									</th>

								</tr>
							</thead>
							<tbody>
								{% for model in models %}
									<tr >
										<td>
											{{model.modelo.descricao}}
										</td>
										<td>
											{{model.modelo.data_criacao|date:'d/m/Y H:i'}}
										</td>
										<td>
											<a href="{% url 'index' %}media/modelos/{{modelo.pasta}}/modelos/{{model.tipo.filename}}{{model.id}}.sav" title="Download" class="btn btn-primary">
												<i class="mdi mdi-download"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</thead>
						</table>
					</form>
				</div>
			</div>
		</div>
		{% endif %} <!-- fim de comparação modelo não upload -->
	</div>

	</div>
</div>

 <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

			<div id="summaryModal" data-backdrop="static" class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
									<canvas id="bar-chart"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-body" >
                    <div class="row" >
						<div class="col-sm-9 col-9" >
							<h3 class="page-title mb-0 p-0" id="arq"></h3>
								<p id="desc_arq"></p>
						</div>
						<div class="col-sm-3 col-3">
                          <button  onclick="fecharmodel()"  type="button" id="fechar" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

			<div id="imageModal" data-backdrop="static" class="modal fade bd-example-modal-lg4" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
									<div id="ibagem">
										<img id="image_id">
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-body" >
                    <div class="row" >
						<div class="col-sm-9 col-9" >
							<h3 class="page-title mb-0 p-0" id="arq"></h3>
								<p id="desc_arq"></p>
						</div>
						<div class="col-sm-3 col-3">
                          <button  onclick="fecharmodel()"  type="button" id="fechar" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

			<div id="dadosModal" data-backdrop="static" class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="card">
                                <div class="card-body">
									<canvas id="pie-chart"></canvas>
                                </div>
                            </div>
                        </div>
						<div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
									<canvas id="pietrain-chart"></canvas>
                                </div>
                            </div>
                        </div>
						<div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
									<canvas id="pietest-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-body" >
                    <div class="row" >
						<div class="col-sm-9 col-9" >
							<h3 class="page-title mb-0 p-0" id="modelo"></h3>
							<p id="desc_modelo"></p>
						</div>
						<div class="col-sm-3 col-3">
                          <button  onclick="fecharmodel()"  type="button" id="fechar" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}



