
{% extends 'preditor/main.html' %}
{% block content %}
{% load static %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Stack</h3>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- column -->
        <div class="col-sm-8">
        	<h3 class="card-title mb-0 p-10">{{ repo.data }} - Nível: {{ repo.level }}</h3>
        	<div class="col-sm-12">
	            <div class="card">
	                <div class="card-body">
							Área: {{ area.descricao }} <br>
							Projeto: {{ projeto.descricao }} <br>
							Data Criação: {{ area.data_criacao }} <br>
							Stack: {{ repo.data }}<br>
							Nível: {{ repo.level }}<br>
							Satélite: {{ repo.sat }}<br>
							<a href="/area/{{ area.pk }}/" class="btn btn-primary">
	                        	Voltar
	                    	</a>
					</div> 
	            </div>
	        </div>
	        <h3 class="card-title mb-0 p-10"> Índices Espectrais </h3>
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<form method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<button type="submit" formaction="/area/gerar_indices/{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}" class="btn btn-primary m-10">
			 						Gerar Selecionados
								</button>
								<table class="table user-table table-hover">
									<tbody >
										{% for indice in r_indices %}
											<tr>
												<td>
													<input type="checkbox" name="ind_{{indice.id}}">
												</td>
												<td>
													<a href="/area/gerar_indice/{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}/{{indice.id}}" class="btn btn-secondary">
														Gerar {{indice}}
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<table class="table user-table table-hover">
									<tbody>
										{% for indice in indices %}
											<tr data-toggle="modal" data-target=".bd-example-modal-lg" class="clickable-row" data-href="{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}/{{indice.desc|slice:'0:-4'}}/Projeto">
												<td>
													{{indice.desc}}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
			<h3 class="card-title mb-0 p-10"> Classificação Preditiva </h3>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							Escolha o modelo:
							<table class="table user-table table-hover">
									<tbody>
										<tr>
											<th>
												Nome Modelo
											</th>
											<th>
												Modelo Treinado
											</th>
											<th>
												Sobre o modelo
											</th>
										</tr>
										{% for mod in modelos_treinados %}
											<tr onclick="window.location='/classificar_page/{{mod.id}}/{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}';">
												<td>
													{{mod.modelo}}
												</td>
												<td>
													{{mod.tipo}}
												</td>
												<td>

												</td>
											</tr>
										{% endfor %}
									</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="col-sm-4">
        	<h3 class="card-title mb-0 p-10"> Imagens Recortadas </h3>
        	<div class="col-sm-12">
            	<div class="card">
                	<div class="card-body">
                		<a href="/cortar/{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}" class="btn btn-primary">
		        			Aplicar Máscara
		        		</a>
                		<table class="table user-table table-hover">
							<tbody >
								{% for corte in cortes %}
									<tr data-toggle="modal" data-target=".bd-example-modal-lg" class="clickable-row" data-href="{{area.pk}}/{{repo.sat}}{{repo.level}}{{repo.data}}/Cortes_{{corte.desc}}/Projeto">
										<td>
											{{corte.desc}}.{{corte.tipo}} 
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div> 
            </div>
        </div>
        
    </div>


{% endblock %}



